@import '../variables';

// Rewrite the logic in hugeplaybacktogglebutton
// We make visible setting set by playbacktoggleoverlay

.#{$prefix}-ui-hugeplaybacktogglebutton {
  @extend %ui-button;

  cursor: default;
  height: 8em;
  outline: none;
  overflow: hidden; // hide overflow from scale animation
  width: 8em;
  background: rgba(19,19,19,.3);

  @include hidden-animated;

  .#{$prefix}-image {
    background-position: center;
    background-repeat: no-repeat;
    // background-size: 4.5em; // Smaller for sketch
    height: 80px;
    width: 80px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    cursor: pointer;
  }

  &.#{$prefix}-on {
    .#{$prefix}-image {
      background-image: svg('assets/skin-modern/images/pause_big.svg');
      &:hover {
        background-image: svg('assets/skin-modern/images/pause_big_hover.svg');
      }
    }
  }

  &.#{$prefix}-off {
    .#{$prefix}-image {
      background-image: svg('assets/skin-modern/images/play_big.svg');
      &:hover {
        background-image: svg('assets/skin-modern/images/play_big_hover.svg');
      }
    }
  }
}
