@import '../variables';
@import '../mixins';

// Shared with 
// 1. IosToggleButtonContainer
// 2. IosToggleButton
// 3. IosToggleButtonLabel
// Reference: https://www.cssscript.com/ios-style-toggle-button-pure-css/

.#{$prefix}-ui-IosToggleButtonLabel {
  height: 1.5em;
  margin-bottom: 0;
}

.#{$prefix}-ui-iosToggleButton:not(:checked), .#{$prefix}-ui-iosToggleButton:checked {
  position: absolute;
  left: -9999px;
}

.#{$prefix}-ui-iosToggleButton:not(:checked) + .#{$prefix}-ui-IosToggleButtonLabel, .#{$prefix}-ui-iosToggleButton:checked + .#{$prefix}-ui-IosToggleButtonLabel {
  position: relative;
  padding-left: 4em;
  padding-top: .25em;
  cursor: pointer;
}

.#{$prefix}-ui-iosToggleButton:not(:checked) + .#{$prefix}-ui-IosToggleButtonLabel:before, .#{$prefix}-ui-iosToggleButton:checked + .#{$prefix}-ui-IosToggleButtonLabel:before, .#{$prefix}-ui-iosToggleButton:not(:checked) + .#{$prefix}-ui-IosToggleButtonLabel:after, .#{$prefix}-ui-iosToggleButton:checked + .#{$prefix}-ui-IosToggleButtonLabel:after {
  content: '';
  position: absolute;
  height: 1.5em;
  transition: all .5s ease;
}

.#{$prefix}-ui-iosToggleButton:not(:checked) + .#{$prefix}-ui-IosToggleButtonLabel:before, .#{$prefix}-ui-iosToggleButton:checked + .#{$prefix}-ui-IosToggleButtonLabel:before {
  left: 0;
  top: 0;
  width: 3.15em;
  border: 2px solid rgba($color: white, $alpha: .1);
  background: rgba($color: white, $alpha: .6);
  border-radius: 1.1em;
  z-index: -1;
}

.#{$prefix}-ui-iosToggleButton:not(:checked) + .#{$prefix}-ui-IosToggleButtonLabel:after, .#{$prefix}-ui-iosToggleButton:checked + .#{$prefix}-ui-IosToggleButtonLabel:after {
  left: 0em;
  top: 0.05%;
  background-color: $color-red;
  border-radius: 50%;
  width: 1.5em;
}

.#{$prefix}-ui-iosToggleButton:checked + .#{$prefix}-ui-IosToggleButtonLabel:after { left: 1.65em; }

.#{$prefix}-ui-iosToggleButton:checked + .#{$prefix}-ui-IosToggleButtonLabel:before {
  background-color: white;
  border-color: white;
}