@import '../variables';
@import '../mixins';

.#{$prefix}-ui-playbacktoggle-overlay {
  @extend %ui-container;
  @include layout-cover;

  .#{$prefix}-container-wrapper { // Using flex to style [mod]
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .#{$prefix}-ui-hugeplaybacktogglebutton {
    @include layout-cover;
  }
  .#{$prefix}-ui-hugePlaybackTimeLabel {
    position: absolute;
    top: calc(50% + 50px);
    font-size: .9em;
    letter-spacing: 1px;
  }
}

.#{$prefix}-ui-playbacktoggle-overlay.#{$prefix}-hidden {
  .#{$prefix}-container-wrapper {
    .#{$prefix}-ui-hugePlaybackTimeLabel {
      visibility: hidden;
    }
    .#{$prefix}-ui-timeShiftButton-moveBack {
      visibility: hidden;
    }

    .#{$prefix}-ui-timeShiftButton-moveForward {
      visibility: hidden;
    }
  }
}