@import '../variables';
@import '../mixins';

// This is for timeShiftButton
%timeShift {
  width: 3em;
  height: 3em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  @include hidden-animated;
}

.#{$prefix}-ui-timeShiftButton-moveBack {
  @extend %ui-button;
  @extend %timeShift;
  left: calc(50% - 130px);
  background-image: svg('assets/skin-modern/images/move-back.svg');
  &:hover {
    background-image: svg('assets/skin-modern/images/move-back-hover.svg');
  }
}

.#{$prefix}-ui-timeShiftButton-moveForward {
  @extend %ui-button;
  @extend %timeShift;
  right: calc(50% - 130px);
  background-image: svg('assets/skin-modern/images/move-forward.svg');
  &:hover {
    background-image: svg('assets/skin-modern/images/move-forward-hover.svg');
  }
}